<div>
    <fieldset>
        <div class="item">
            <label for="">Imagem</label>
            <div class="photo-item">
                <label id="photo-upload" for="recipe_img">
                    {{form.recipe_img(
                        accept="image/*",
                        onchange = "PhotosUpload.fileUpload(event)",
                    )}}
                    <i class="material-icons">add</i> 
                </label> 
                
                <div id="photos-preview">
                    {% if form.recipe_img.data %}
                        {% for image in form.recipe_img.data %}
                            <div class="photo">
                                <img id="{{image.id}}" src="{{url_for('static', filename='img/{}'.format(image.name))}}">
                                <i class="material-icons" onclick="PhotosUpload.removePhoto(event)">close</i>
                            </div>
                            
                        {% endfor %}
                        <input type="hidden" name="removed_files">
                    {% endif %}
                </div>  
               

            </div>
        </div>

        <div class="item">
            <label for="chef">Nutricionista</label>
            {{form.chef}}
        </div>

        <div class="item">
            <label for="name">Título da Refeição</label>
            {{form.name}}
        </div>
        
        <div class="item">
            <label for="date_recipe">Data da refeição</label>
            {{form.date}}
        </div>
        

        <div class="item">
            <label for="ingredients">Ingredientes</label>
            <div id="ingredients">
                {% if form.ingredients %}
                {% for ingredient in form.ingredients %}
                    <div class="ingredient">
                            {{ingredient}}
                    </div>
                {% endfor %} 
                {% else %}
                    <div class="ingredient">
                        {{form.ingredients.append_entry()}}
                    </div>       
                {% endif %}
            </div>
            <input type="button" value="Adicionar novo ingrediente" class="add-ingredient" onclick="addIngredient()">
        </div>
        
        <div class="item">
            <label for="preparations">Modo de Preparo</label>
                {{form.preparations}}
            
        </div>
        
        <div class="item">
            <label for="adicional_information">Informações adicionais</label>
            {{form.adicional_information}}
        </div>


    </fieldset>
</div>

