{% extends "admin/base.html" %}
{% block content %}
<div class="content-header">
    <h2>Refeição: {{recipe.name}}</h2>
    <a href="{{url_for('recipes.edit_recipe', recipe_id=recipe.id)}}" class="button">Editar</a>
</div>
<section class="recipe-show-header">
    <img src="{{url_for('static', filename='img/{}'.format(recipe.recipe_img[0].name))}}" alt="imagem da receita {{recipe.name}}">
    <div class="recipe-gallery">
        {% for image in recipe.recipe_img %}
            <img src="{{url_for('static', filename='img/{}'.format(image.name))}}" alt="" onclick="ImageGallery.setImage(event)" 
            {% if image == recipe.recipe_img[0]%} class="active" {% endif %}>
        {% endfor %}
    </div>
    <h1>{{recipe.name}}</h1>
    <div>Nutricionista: {{recipe.chef_name}}</div>
</section>
<section class="class-recipe-details">
    <div class="item">
        <h2>Data</h2>
        <p>
           {{recipe.date}}
        </p>
    </div>

    <div class="item">
        <h2>Ingredientes</h2>
        <ul>
            {% for ingredient in recipe.ingredients %}
                <li>{{ingredient}}</li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="item">
        <h2>Modo de Preparo</h2>
        <p>
            {{recipe.preparations}}
        </p>
    </div>
    
    {% if recipe.adicional_information != "" %}
    <div class="item">
        <h2>Informações adicionais</h2>
        <p>
            {{recipe.adicional_information}}
        </p>
    </div>
    {% endif %}
</section>
{% endblock %}