<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin-site.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>RU IFMA</title>
</head>
<body>
    <body>
        <header>
            <div>
                <a class='logo-foodfy' href="/admin">
                    <img src="{{url_for('static', filename='img/ifma.png')}}" alt="logo foodfy branco">
                </a>
                <div>
                    <a href="/admin/refeicoes">Refeições</a>
                    <a href="/admin/nutricionista">Nutricionistas</a>
                    <a href="/relatorios">Relatórios</a>
                    <a href="/estoque">Estoque</a>
                </div>
            </div>
        </header>
        <div class="container">
            {% block content %}
            {% endblock content%}
        </div>
        <footer>
            <p>&copy; Todos os direitos reservados a RU-IFMA</p>
        </footer>
    </body>
</body>

<script src="{{url_for('static', filename='js/script.js')}}"></script>
</html>